<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>social-network</title>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#4DBA87">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="social-network">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#4DBA87">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
    <% }}} %>

    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>-->
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">

    <style type="text/css">
      .splash-screen {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        height: 100vh;

        font-size: 34px;
        font-family: Ubuntu, sans-serif;
        font-weight: 700;
        color: #4a4a4a;

        background-color: #ffffff;
      }

      .splash-screen > svg {
        height: 38px;
        display: inline-block;
        margin-right: 5px;
      }
    </style>
  </head>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>

    <div id="app">
      <div class="splash-screen">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 236.108 236.108"><path d="M7.5 69.21a7.5 7.5 0 0 0-7.5 7.5v58.54a7.5 7.5 0 0 0 15 0V76.71a7.5 7.5 0 0 0-7.5-7.5zM166.428 25.459h-31.204a7.5 7.5 0 0 0-7.5 7.5v6.775L27.289 69.517a7.5 7.5 0 0 0-5.368 7.19v58.512c-.002.375.034.753.09 1.132a7.002 7.002 0 0 0 .253 1.137l21.261 67.9a7.503 7.503 0 0 0 7.155 5.261c.741 0 1.495-.111 2.24-.344l30.961-9.681a7.5 7.5 0 0 0 4.919-9.398l-10.536-33.669 49.459 14.67v6.774a7.5 7.5 0 0 0 7.5 7.5h31.204a7.5 7.5 0 0 0 7.5-7.5V32.959a7.499 7.499 0 0 0-7.499-7.5zM72.245 188.546l-16.646 5.205-14.814-47.311 20.154 5.977 11.306 36.129zm-3.167-49.359l-.064-.019-32.092-9.519V82.306l90.803-26.926v101.202l-58.647-17.395zm89.85 32.315h-16.204V40.46h16.204v131.042zM224.962 147.969L192.51 131.74a7.5 7.5 0 0 0-6.709 13.417l32.452 16.229a7.5 7.5 0 0 0 10.063-3.354 7.502 7.502 0 0 0-3.354-10.063zM189.161 81.012a7.458 7.458 0 0 0 3.348-.794l32.453-16.227a7.5 7.5 0 0 0 3.354-10.062 7.5 7.5 0 0 0-10.062-3.354l-32.453 16.227a7.5 7.5 0 0 0-3.354 10.062 7.499 7.499 0 0 0 6.714 4.148zM228.608 98.48H201.51a7.5 7.5 0 0 0 0 15h27.098a7.5 7.5 0 0 0 0-15z"/></svg>

        PUFFER
      </div>
    </div>

    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
