<template>
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img :src="self.image" alt="">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{ self.name }}</p>
          <p class="subtitle is-6">@{{ self.id }}</p>
        </div>
      </div>

      <div class="content">
        <div class="field">
          <div class="control is-large">
            <textarea class="textarea is-large" type="text" placeholder="Write something interesting..." v-model="text"></textarea>
          </div>
        </div>

        <div class="is-clearfix">
          <div class="file is-pulled-left">
            <label class="file-label">
              <input class="file-input" type="file" name="resume" @change="onSelectImage($event.target.files[0])">
              <span class="file-cta">
                <span class="file-icon">
                  <UploadIcon class="image is-16x16" />
                </span>
                <span class="file-label">
                  Attach image...
                </span>
              </span>
            </label>
          </div>

          <button class="button is-primary is-pulled-right" @click="submitPost" :disabled="isLoading">
            <span class="icon">
              <Component :is="postButtonIcon" class="image is-16x16" />
            </span>
            &nbsp;
            Post
          </button>
        </div>
      </div>
    </div>

    <div class="card-image">
      <figure class="image">
        <img :src="image" alt="">
      </figure>
    </div>
  </div>
</template>

<script>
import Spinner from './Spinner'
import UploadIcon from './UploadIcon'
import CheckIcon from './CheckIcon'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: { Spinner, UploadIcon, CheckIcon },

  data () {
    const reader = new FileReader()

    return {
      text: '',
      image: null,
      isLoading: false,
      reader
    }
  },

  computed: {
    data () {
      return {
        text: this.text,
        user: this.self,
        image: {
          max: this.image
        }
      }
    },

    postButtonIcon () {
      if (this.isLoading) {
        return 'Spinner'
      } else {
        return 'CheckIcon'
      }
    },

    ...mapGetters(['self'])
  },

  mounted () {
    this.reader.onload = event => {
      this.image = event.target.result
    }
  },

  methods: {
    ...mapActions(['savePost']),

    async submitPost () {
      this.isLoading = true

      await this.savePost({ time: Date.now(), ...this.data })

      this.isLoading = false
      this.text = ''
      this.image = null
    },

    onSelectImage (file) {
      this.reader.readAsDataURL(file)
    }
  }

}
</script>

<style>
.newpost-page {
  background-color: #fff;
}
.newpost-page .navbar-brand {
  justify-content: space-between;
}
.is-16x16 {
  background-color: transparent;
}
</style>
