<template>
  <div class="feed-page">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div id="specialShadow" class="bd-special-shadow" style="opacity: 1; transform: scaleY(1);"></div>

      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-item">
            <Logo />&nbsp;&nbsp;<b class="is-size-4">PUFFER</b>
          </div>
        </div>
      </div>
    </nav>

    <main class="container">
      <NewPost />

      <transition-group name="slide" tag="div">
        <div class="card feed-item" v-for="post in posts" :key="post.id">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img :src="post.user.image" alt="">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{ post.user.name }}</p>
                <p class="subtitle is-6">@{{ post.user.id }}</p>
              </div>
            </div>

            <div class="content">
              <p v-html="formatText(post.text)"></p>

              <time datetime="2016-1-1">{{ formatTime(post.time) }}</time>
            </div>
          </div>

          <div class="card-image" v-if="post.image">
            <figure class="image">
              <picture>
                <source :srcset="post.image.min" media="(max-width: 375px)">
                <source :srcset="post.image.mid" media="(max-width: 768px)">

                <img :src="post.image.max" alt="">
              </picture>
            </figure>
          </div>

          <div class="card-image" v-if="post.gif">
            <figure class="image">
              <video :src="post.gif" autoplay loop muted></video>
            </figure>
          </div>
        </div>
      </transition-group>

    </main>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import timeago from 'timeago.js'
import NewPost from './NewPost'
import Logo from './Logo'

export default {
  components: { NewPost, Logo },

  computed: {
    ...mapGetters(['posts', 'self'])
  },

  mounted () {
    this.loadPosts()
  },

  methods: {
    ...mapActions(['loadPosts', 'removePost']),

    formatText (text) {
      const regex = /([#|@][a-zA-Z0-9_]+)/gm

      return text.replace(regex, '<a href="#">$&</a>')
    },

    formatTime (time) {
      return timeago().format(time)
    }
  }
}
</script>

<style>
#app {
  background-color: #3273dc17;
}

time {
  font-style: italic;
}

.image {
  background-color: hsl(0, 0%, 88%);
}

.container {
  max-width: 960px;
}

.navbar-brand {
  justify-content: space-between;
}

.card {
  margin: 10px 0;
}
.slide-enter-active {
  transition: all 500ms;
}
.slide-enter {
  opacity: 0;
  transform: translateY(-30px);
}
</style>
